spring:
  application:
    name: agri-contract-platform
  datasource:
    url: jdbc:postgresql://localhost:5432/agri_contract_db
    username: postgres
    password: Virendra@123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ramanvgrewal@gmail.com
    password: sanj noou kfek pdsg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 24 hours

logging:
  level:
    org.springframework.security: DEBUG
